@{
    ViewBag.Title = "Про нас";
}


<br />
<br />
<h2>Cтартап ветеранів війни.</h2>
<h3>Долучайся!</h3>
<h3> Купуй!</h3>
<h3>  Допомагай!</h3>
<h4>
    Товар, який ви тримаєте в руках, створений зусиллями ГО ветеранів АТО та волонтерів. <br> Тільки при вашій підтримці ми зможемо більше!
</h4>
<br />
<br />


