@model Domain.Entityes.Basket
@if (Model.CountItem != 0)
            {
    <p align="right" style="padding: 15px; margin-bottom: -29px">@Model.CountItem</p>

}
<span><img src="~/img/top.png" style="width: 50px; height: 50px"></span>
@if (Model.CountItem != 0)
            {
        <a href="@Url.Action("Index", new {returnUrl = Request.Url?.PathAndQuery})" class="basketLink">
            <img src="~/img/basketpic.png" alt="" class="">
        </a>
}

